<h1>Bloggers#show</h1>

<p>Blogger: <%= @blogger.name %></h3>
<p>Bio: <%= @blogger.bio %></p>
<p>Age: <%= @blogger.age %></p>

<p>Likes: <%= @blogger.number_of_likes %></p>

<p>Top 5 Destinations:</p>
<ol>
    <% @blogger.destinations. %>
</ol>




